@import "reset.css"; /* css file to reset css */
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&display=swap'); /* Gemunu Libre font for whole page from Google Font */

*{
    font-family: 'Gemunu Libre', sans-serif !important;
}

html, body {
    width: 100vw;
    height: 100vh;
}

html {
    background-color: white;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: transparent;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

header > .menu {
    flex: 0 0 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu > a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #CB437C;
}

.menu a.under {
    text-decoration : underline;
    text-decoration-color : #CB437C;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.2em;
}

.menu>a:first-child {
    text-decoration-color : #CB437C;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.2em;
}
 
.menu > a:hover {
    cursor: pointer;
    text-decoration : underline;
    text-decoration-color : #CB437C;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.2em;
}

article {
    width : 100%;
    height: 100%;
}

.articles {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: white;
    flex-direction: column;
}

article .articles:first-child {
    display: flex;
}


.ani {
    width: 100%;
    height: 100%;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

}

.ani#cir {
    animation-name: cir;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('./img/T_J_H.png');
    background-blend-mode:color-dodge;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    border: 1em solid #CB437C;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.ani#cir:hover {
    background-color: rgba(0, 0, 0, 0.406);
}

.cir__context {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: cir__context;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: both;
    opacity: 0;
}

.cir__context p {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.cir__context__too {
    animation-name: cir__context__too;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#cir p {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    color: transparent;
    transition: 1s;
}

#cir p:hover {
    color: white;
}
 
.ani#tri {
    animation-name: tri;
    width: 0;
    height: 0;
    border-bottom: 100vh solid white;
    border-right: 50vw solid white;
    border-left: 50vw solid white;
}

#tri__little {
    width: 0;
    height: 0;
    /** n X 1.7320(root 3) **/
    border-bottom: 27.712vh solid white;
    border-right: 16vh solid transparent;
    border-left: 16vh solid transparent;
    position: relative;
    top: 4.5vh;
    left:-16vh;
    animation-name: tri__little;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: both;
    opacity: 0;
}

#tri__little>a {
    display: block;
    width: 30vh;
    position: relative;
    top: 11vh;
    left:-15vh;
    font-size: 1em;
    text-decoration: none;
    color: #CB437C;
    cursor: pointer;
    text-align: center;
    transition: 1s;
}

#tri__little>a:hover {
    font-size: 1.5em;
}

.tri__context {
    animation-name: tri__context;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: both;
    opacity: 0;
}

.tri__context__up {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.tri__context__down {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tri__context p {
    font-size: 1.5em;
}

.tri__context__bold {
    font-weight: bold;
}

.tri__context__over__box {
    flex-shrink: 0;
    height: 1.8em;
    align-items: center;
    overflow: hidden;
}

.tri__context__over:hover {
    animation-play-state: paused;
}

.tri__context__over {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    animation: linear infinite;
    animation-delay: 5s;
    top: 30px;
}

.like {
    animation-name: marquee__like;
    animation-duration: 18s;
}

.interest {
    animation-name: marquee__interest;
    animation-duration: 14s;
}

.tri__context__over p {
    color: #cb437c;
}

.ani#rec {
    border: 1em solid #CB437C;
    background-color: transparent;
    animation-name: rec;
    display: flex;
    flex-wrap: wrap;
}

.sns {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: sns;
    animation-duration: 3s;
    animation-fill-mode: both;
    opacity: 0;
}

.sns a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns__img {
    width: 60%;
    height: 60%;
    opacity: 0.6;
    transition: 0.6s;
}

.sns__img:hover {
    opacity: 1;
}

@keyframes cir {
    to {
        width: 40vh;
        height: 40vh;
        border-radius: 40vh;
        opacity: 1;
    }
    
}

@keyframes cir__context {
    to {
        opacity: 1;
    }
}

@keyframes cir__context__too {
    to {
        font-size: 3em;
    }
}

@keyframes tri {
    to {
        /** n X 1.7320(root 3) **/
        border-bottom: 34.64vh solid #CB437C;
        border-left: 20vh solid transparent;
        border-right: 20vh solid transparent;
    }
}

@keyframes tri__little {
    to {
        opacity: 1;
    }
}


@keyframes tri__context {
    to {
        opacity: 1;
    }
}

@keyframes marquee__like {
    from {
        top:30px;
    }
    to{
        top:-650px;
    }
}

@keyframes marquee__interest {
    from {
        top:30px;
    }
    to {
        top:-550px;
    }
}

@keyframes rec {
    50% {
    }
    100% {
        width: 40vh;
        height: 40vh;
    }
}

@keyframes sns {
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}